{% extends 'base.html' %}

{% block top %}

<header class="hero-image">
	<div class="hero-text">
		<h1>Welcome to Food Companion!</h1>
		<p>A vast database where you can sort by food products from the United States, Britain, and Mexico that suit your dietary requirements!</p>
	</div>
</header>

{% endblock %}

{% block content %}

<h2>Browse food products</h2>

<div id="tablecontainer">
	{% include 'table.html' %}
</div>

{% endblock %}

{% block vuescript %}
<script>
	//import axios from 'axios'
	let baseURL = window.location.href + 'table?';

	var app = new Vue({
		el: '#tablecontainer',
		delimiters: ['[[', ']]'],
		data: {
			baseURL: baseURL,
			products: {},
			total_products: 0,
			loading: true,
			perpage: 50,
			currentpage: 1,
			pages: [],
			countries: ['United States', 'United Kingdom', 'Canada'],
			stores: ['Whole Foods Martket', 'Kroger', 'Tesco', 'Walmart'],

			product: '',
			ingredients: '',
			calories: '',
			country: '',
			store: '',
			glutenfree: false,
			vegan: false,
			vegetarian: false,
			halal: false,
			kosher: false,
		},
		methods: {
			pullData: function() {
				this.loading = true;
				let dataURL = this.baseURL + 'page=' + this.currentpage + '&';

				if(this.product!='') {
					dataURL += 'product=' + this.product + '&';
				}
				if(this.ingredients!='') {
					dataURL += 'ingredients=' + this.ingredients + '&';
				}
				if(this.calories!='') {
					dataURL += 'calories__lt=' + this.calories + '&';
				}
				if(this.country!='') {
					dataURL += 'country=' + this.country + '&';
				}
				if(this.store!='') {
					dataURL += 'store=' + this.store + '&';
				}
				if(this.glutenfree) {
					dataURL += 'glutenfree=true&';
				}
				if(this.vegan) {
					dataURL += 'vegan=true&';
				}
				if(this.vegetarian) {
					dataURL += 'vegetarian=true&';
				}
				if(this.halal) {
					dataURL += 'halal=true&';
				}
				if(this.kosher) {
					dataURL += 'kosher=true&';
				}

				fetch(dataURL)
					.then(res => res.json())
					.then((out) => {
						this.products = out['products'];
						this.total_products = out['total_products'];
						this.loading = false;
					})
					.catch(err => { throw err }
				);
			},
			updateCountry: function() {
				this.currentpage = 1;
				switch(this.country) {
					case '':
						this.stores = ['Whole Foods Martket', 'Kroger', 'Tesco', 'Walmart'];
						break;
					case 'United States':
						this.stores = ['Whole Foods Martket', 'Kroger'];
						break;
					case 'United Kingdom':
						this.stores = ['Tesco'];
						break;
					case 'Canada':
						this.stores = ['Walmart'];
						break;
				}

			},
			updateGlutenfree: function() {
				this.currentpage = 1;
				if(!this.glutenfree) {
					this.glutenfree = true;
				} else {
					this.glutenfree = false;
				}
				this.pullData();
			},
			updateVegan: function() {
				this.currentpage = 1;
				if(!this.vegan) {
					this.vegan = true;
					this.vegetarian = false;
					this.halal = false;
					this.kosher = false;
				} else {
					this.vegan = false;
				}
				this.pullData();
			},
			updateVegetarian: function() {
				this.currentpage = 1;
				if(!this.vegetarian) {
					this.vegetarian = true;
					this.vegan = false;
					this.halal = false;
					this.kosher = false;
				} else {
					this.vegetarian = false;
				}
				this.pullData();
			},
			updateHalal: function() {
				this.currentpage = 1;
				if(!this.halal) {
					this.halal = true;
					this.vegan = false;
					this.vegetarian = false;
					this.kosher = false;
				} else {
					this.halal = false;
				}
				this.pullData();
			},
			updateKosher: function() {
				this.currentpage = 1;
				if(!this.kosher) {
					this.kosher = true;
					this.vegan = false;
					this.vegetarian = false;
					this.halal = false;
				} else {
					this.kosher = false;
				}
				this.pullData();
			},
			saveSettings: function() {
				axios({
					method:'post',
					url: window.location.href + 'save-settings/',
	                headers: {'X-CSRFTOKEN': '{{ csrf_token }}', 'Content-Type': 'application/json'},
					data: {
						country: this.country,
						store: this.store,
						glutenfree: this.glutenfree,
						vegan: this.vegan,
						vegetarian: this.vegetarian,
						halal: this.halal,
						kosher: this.kosher,
					}
				}).then();
			},
			clearFilters: function() {
				this.currentpage = 1;

				this.product = '';
				this.ingredients = '';
				this.calories = '';
				this.country = '';
				this.stores = ['Whole Foods Martket', 'Kroger', 'Tesco', 'Walmart'];
				this.store = '';
				this.glutenfree = false;
				this.vegan = false;
				this.vegetarian = false;
				this.halal = false;
				this.kosher = false;
				this.pullData();
			},
			nextPage:function() {
				//if((this.currentpage*50) < this.totalproducts) this.currentpage++;
				this.currentpage++;
				this.pullData();
			},
			prevPage:function() {
				if(this.currentpage > 1) this.currentpage--;
				this.pullData();
			}
		},
		mounted() {
			fetch(this.baseURL + 'page=1')
				.then(res => res.json())
				.then((out) => {
					this.products = out['products'];
					this.total_products = out['total_products'];
					this.loading = false;
				})
				.catch(err => { throw err }
			);
		}
	})
</script>
{% endblock %}